:root {
    --bg: #36393F;
    --bg-l-l-l: #7c7d81;
    --bg-l-l: #6c6f77;
    --bg-l: #595d67;
    --bg-d: #2a2c2f;
    --c: white;
}

* {
    user-select: none;
    font-family: Arial, serif;
}

body {
    background-color: var(--bg);
    color: var(--c);
    overflow: hidden;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    min-width: fit-content;
    background-color: var(--bg-l)
}

.navbar > .title {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.navbar > .title:hover {
    transform: scale(1.1);
}

.navbar > .content {
    margin-top: 50px;
}

.page {
    padding: 5px 20px;
    background-color: var(--bg-l-l);
    cursor: pointer;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.page:hover {
    background-color: var(--bg-l-l-l);
    transform: scale(1.05);
    translate: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2)
}

.page-closed {
    margin-top: -28px;
}

.page > svg {
    position: absolute;
    right: 10px;
    margin-top: -3px;
}

.description {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: 30px;
    padding: 10px 10px 0;
    background-color: var(--bg-d);
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.description-on {
    opacity: .8;
}

.page-html {
    position: absolute;
    left: -10000px;
    transform: translateX(-50%);
    top: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

pre {
    position: relative;
    background-color: var(--bg-d);
    border-radius: 6px;
    padding: 15px;
}

.language-js {
    color: #7c7d81;
    font-family: monospace, serif;
    user-select: all;
}

.language-js > .js-if {
    color: #ab77ae;
}

.language-js > .js-var {
    color: #d07945;
}

.language-js > .js-str {
    color: #8abd75;
}

.language-js > .js-num {
    color: #d85348;
}

.search {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: flex;
}

.search > svg {
    margin-top: 3px;
    margin-right: 3px;
}

.search > input {
    outline: none;
    border: none;
    background-color: var(--bg-d);
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: 55px;
    transition: all .2s ease-in-out;
}

.btn {
    background-color: var(--bg-l);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 5px black;
    display: flex;
    transition: transform .2s, background-color .2s, box-shadow .2s;
}

.btn:hover {
    transform: translateY(5px);
    background-color: var(--bg-l-l);
    box-shadow: none;
}